@media screen and (max-width: 767px) {
    .btn {
        margin-bottom: 10px;
    }
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    padding-bottom: 40px;
}

h3 {
    margin-top: 20px;
}

hr {
    border: 1px solid #ddd;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.btn-close {
    background-color: transparent;
    border: none; 
}

.btn-close:hover {
    background-color: transparent;
}

#btn-quiz-reload {
    margin-top: 10px;
}